{
  "extends": ["react-app", "airbnb"],
  "rules": {
    "arrow-body-style": "off",
    "no-unused-vars": "warn",
    "quotes": [2, "double", "avoid-escape"],
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "linebreak-style": 0,
    "react/jsx-props-no-spreading": "off",
    "react/jsx-one-expression-per-line": "off",
    "no-console": "off",
    "react/prop-types": "off",
    "object-curly-newline": "off",
    "arrow-parens": "off",
    "implicit-arrow-linebreak": "off",
    "react/jsx-wrap-multilines": [
      "error",
      {
        "declaration": false,
        "assignment": false
      }
    ]
  }
}
